
@{
    ViewBag.Title = "ResetPassword";
}

<style>
    label{
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #0b152e
    }
</style>

<h2 class="mb-3 text-primary">Reset Password</h2>

@if (ViewBag.errMsg != null)
{
    <div class="alert alert-danger">
        @ViewBag.errMsg
    </div>
}

<div id="errDiv" class="alert alert-danger" style="display: none">
     Password Should Be 8 digit Please Try Again!
</div>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("ResetPassword", "RegisterUser", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <hr />

            <div class="form-horizontal pt-2">
                <div class="form-group">
                    <label class="control-label col-md-4">E-mail</label>
                    <div class="col-md-10">
                        <input type="email" name="email" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-6">What Is Your Favourite Team?</label>
                    <div class="col-md-10">
                        <input type="text" name="securityQuestionAnswer" class="form-control" min="8" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">New Password</label>
                    <div class="col-md-10">
                        <input type="password" name="newPassword" class="form-control" id="newPass" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-6">Confirm New Password</label>
                    <div class="col-md-10">
                        <input type="password" name="confirmNewPassword" class="form-control" id="confirmNewPass" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset" id="submitBtn" class="btn btn-success" />
                    </div>
                </div>

            </div>
        }
    </div>
    <div class="col-md-6">
        <img src="~/Images/forgot_password.png" alt="forget-password" class="img-fluid" />
    </div>
</div>


@section scripts{
    <script>
        $(() => {
            $("#submitBtn").click(() => {
                if ($("#newPass").val() == "" || $("#newPass").val().length < 8 || $("#confirmNewPass").val() == "" || $("#confirmNewPass").val().length < 8) {
                    $("#errDiv").slideDown(500);
                    return false;
                }
                if ($("#confirmNewPass").val() != $("#newPass").val()) {
                    $("#errDiv").empty();
                    $("#errDiv").append("Passwords Not Equale Please Try Again!");
                    $("#errDiv").slideDown(500);
                    return false;
                }
            });
        })
    </script>
    }